@charset "utf-8";
/* CSS Document */
/*本样式大纲如下
1. HTML、BODY等全局样式
2. 导航栏样式
3. 轮播样式
4. 主体部分
   (1) 导航栏
   (2) 文档显示
          查询
          价格
          统计
   (3) 表格部分
$. 通用部分
*/
/*1. body*/
body {
  font-family: 微软雅黑, "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, 宋体;
}
.user-col-125 {
  width: 12.5%;
}
/*2. 导航栏样式*/
.navbar {  /*整体*/
  margin-bottom: 0;
  border: none;
  z-index: 1;
}
.navbar-inverse {
  background-color: #252525;
}
.navbar-brand {  /*左侧logo*/
  margin-left: -15px;
  padding-top: 11px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-form {  /*搜索框*/
  float: right;
  border: none;
}
.navbar-form .form-control {
  width: 120px;
  height: 28px;
  padding-left: 25px;
  padding-right: 17px;
  color: #333;
  font-size: 12px;
  font-family: Arial;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #666 url(../images/search162.png) 8px center no-repeat;
  transition: background-color 0.1s ease-out;
}
.navbar-form .form-control:focus {
  background-color: #fff;
}
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav>li>a {  /*导航列表*/
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #cecece;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: #cecece;
}
.navbar-collapse .navbar-nav li>a:hover {
  color: #fff;
}
.navbar-toggle {  /*点击显示（导航列表）按钮*/
  margin-right: -15px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-right: 9px;
  border: none;
  background-color: transparent !important;
}
.navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar .navbar-toggle .icon-bar {
  width: 21px;
  height: 3px;
  border-radius: 0;
  background-color: #fd4f00;
}
.navbar-toggle.collapsed .icon-bar {
  background-color: #fff;
}
.navbar-xs {  /*下拉菜单 xs显*/
  position: absolute;
  width: 100%;
  background-color: #eee;
}
.navbar-xs:after {
  content: "";
  position: absolute;
  top: -6px;
  right: 16px;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-right: 7.5px solid transparent;
}
.navbar-xs li>a {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #d0d0d0;
}
.navbar-xs li>a:after {
  content: "+";
  position: absolute;
  right: 22px;
  width: 16px;
  color: #bbb;
  font-size: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-xs>.open>a:after {
  content: "―";
  top: 9px;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: #d6d6d6;
}
.nav .open a,
.nav .open a:focus,
.nav .open a:hover {
  color: #333;
  background-color: transparent;
}
.ul-xs {  /*二级导航下拉列表*/
  float: none;
  position: static;
  margin-top: 0;
  width: 100%;
  padding: 0 0 0 15px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ul-xs li>a {
  border: none;
}
.ul-xs>li>a:after {
  content: "\e259";
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}
.ul-xs>.open>a:after {
  content: "\e258";
  top: 0;
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}
.ul-xs--1 {  /*三级导航下拉列表*/
  margin-right: 15px;
  width: auto;
  padding-left: 0;
  background-color: #898989;
}
.ul-xs--1>li>a {
  padding-left: 30px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.ul-xs--1>li>a:after {
  content: "";
}
.ul-xs li>a,
.nav li>a:focus,
.nav li>a:hover {
  color: #333;
  background-color: transparent;
}
.nav-hovershow {  /*下拉菜单*/
  position: absolute;
  left: 0;
  right: 0;
}
.hovershow {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
  display: none;
  padding-top: 5px;
  padding-bottom: 16px;
  background-color: rgba(38,38,38,0.8);
}
.thumbnail {
  margin: 0;
  padding: 25px 0 15px;
  text-align: center;
  line-height: 30px;
  color: #aaa;
  border: none;
  background-color: transparent;
} 
.thumbnail:focus {
  color: #aaa;
  text-decoration: none;
}
.thumbnail:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
  transition: color 0.1s;
}
.thumbnail img {
  transition: transform 0.5s;
}
.thumbnail:hover img {
  transform: translateY(-2px);
}
#hovershow-2 {  /*下拉菜单 md显 鼠标在“官方商城”上时显示的内容*/
  padding-top: 19.2px;
  padding-bottom: 16px;
  background-color: #fff;
}
#hovershow-2 .row-m0 {
  margin: 0;
}
#hovershow-2 .thumbnail {
  padding: 5px 4px 30px;
  font-size: 16px;
  line-height: inherit;
  color: #000;
}
#hovershow-2 .thumbnail:focus {
  color: #000;
  text-decoration: none;
}
#hovershow-2 .thumbnail:hover {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
#hovershow-2 .thumbnail img {
  width: 70%;
  height: auto;
  transition: transform 0.5s;
}
#hovershow-2 .thumbnail:hover img {
  transform: translateY(2px);
}
/*3. 导航栏样式*/
.carousel-inner>.item>img {
  width: 100%;
  max-width: none;
}
.carousel-indicators {
  margin-bottom: 11px;
  line-height: 0;
}
.carousel-indicators li {
  margin: 2px 5px;
  width: 8px;
  height: 8px;
  border: none;
  background-color: rgba(76, 76, 76, 0.5);
}
.carousel-indicators .active {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: 2px solid #808080;
  background-color: transparent;
}
.carousel .carousel-control {
  display: none;
  top: 50%;
  bottom: auto;
  width: auto;
  background-image: none;
  opacity: 0.75;
}
.carousel-control.left {
  left: 23px;
}
.carousel-control.right {
  right: 23px;
}
.carousel-control span {
  color: #fff;
  font-size: 40px;
  line-height: 0.9;
  text-shadow: none;
  transition: color 0.3s;
}
.carousel-control span:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*------------ONLY EXSMALL-----------*/
@media (max-width: 767px) {
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    min-height: 275px;
  }
}


/*------------SMALL----------------*/

@media (min-width: 768px) {
  /*2. 导航栏样式*/
  .navbar {  /*整体*/
    border-radius: 0;
  }
  .navbar-form {  /*搜索框*/
    margin-right: -30px;
    margin-top: 10px;
  }
  .navbar-form .form-control {
    padding-right: 11px;
  }
  .navbar-nav>li>a {  /*导航列表*/
    padding-left: 10px;
    padding-right: 10px;
  }
  .collapse.navbar-right {
    margin-right: 20px;
  }
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    margin-left: -495px;
    box-sizing: content-box;
    width: 990px;
    padding-left: 50%;
  }
  .carousel-indicators {
    margin-bottom: 21px;
  }
  .carousel-control.left {
    left: 53px;
  }
  .carousel-control.right {
    right: 53px;
  }
}



/*------------ONLY SMALL-----------*/
@media (min-width: 768px) and (max-width: 991px) {
  /*2. 导航栏样式*/
  .navbar .hidden-sm {  /*在此宽度内不显示的导航条选项*/
    display: none !important;
  }
}

/*------------MIDDLE-------------*/

@media (min-width: 992px) {
  /*2. 导航栏样式*/
  .navbar-form+.navbar-collapse {  /*导航列表*/
    margin-right: 5px;
  }
  .navbar-nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-toggle+.navbar-collapse {  /*导航列表-全球列表*/
    margin-right: -35px;
  }
  .navbar-form .form-control {  /*搜索框*/
    margin-right: 15px;
    width: 130px;
    padding-right: 20px;
  }
  .thumbnail {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
    padding-top: 25px;
  }
  .hovershow {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
    padding-top: 0;
    padding-bottom: 0;
  }
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    margin-left: -600px;
    width: 1200px;
  }
}

/*------------LARGE-------------*/

@media (min-width: 1200px) {
  /*2. 导航栏样式*/
  .navbar-nav>li>a {  /*导航列表*/
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar-toggle+.navbar-collapse {  /*导航列表-全球列表*/
    margin-right: -45px;
  }
  .navbar-form .form-control {  /*搜索框*/
    margin-left: -10px;
    margin-right: 5px;
  }
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    margin-left: -700px;
    width: 1400px;
  }
}

/*------------OTHERS奇葩-------------*/

@media (min-width: 1400px) {
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    margin-left: -960px;
    width: 1920px;
  }
}