@charset "utf-8";
/* CSS Document */
/*本样式大纲如下
1. HTML、BODY样式
2. 导航栏样式
3. 侧边栏样式
4. 主体部分
   (1) 导航栏
   (2) 文档显示
          查询
          价格
          统计
   (3) 表格部分
$. 通用部分
*/
/*1. body*/
body {
  font-family: 微软雅黑, "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, 宋体;
}
/*2. 导航栏样式*/
.navbar {  /*整体*/
  border: none;
}
.navbar-inverse {
  background-color: #252525;
}
.navbar-brand {  /*左侧logo*/
  margin-left: -15px;
  padding-top: 11px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-form {  /*搜索框*/
  float: right;
  border: none;
}
.navbar-form .form-control {
  width: 120px;
  height: 28px;
  padding-left: 25px;
  padding-right: 17px;
  color: #333;
  font-size: 12px;
  font-family: Arial;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #666 url(../images/search162.png) 8px center no-repeat;
  transition: background-color 0.1s ease-out;
}
.navbar-form .form-control:focus {
  background-color: #fff;
}
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
  
}
.navbar-collapse a {  /*导航列表*/
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #cecece !important;
}
.navbar-collapse a:hover {
  color: #fff !important;
}
.navbar-toggle {  /*点击显示（导航列表）按钮*/
  margin-right: -15px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-right: 9px;
  border: none;
  background-color: transparent !important;
}
.navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar .navbar-toggle .icon-bar {
  width: 21px;
  height: 3px;
  border-radius: 0;
  background-color: #fd4f00;
}
.navbar-toggle.collapsed .icon-bar {
  background-color: #fff;
}
.navbar-xs {  /*导航下拉列表div*/
  position: absolute;
  width: 100%;
  background-color: #eee;
}
.navbar-xs:after {
  content: "";
  position: absolute;
  top: -7px;
  right: 16px;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-right: 7.5px solid transparent;
}
.navbar-xs li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #d0d0d0;
}
.navbar-xs li>a:after {
  content: "+";
  position: absolute;
  right: 22px;
  width: 16px;
  color: #bbb;
  font-size: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-xs .open>a:after {
  content: "―";
  top: 9px;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: #d6d6d6;
}
.nav .open a,
.nav .open a:focus,
.nav .open a:hover {
  background-color: transparent;
}
.ul-xs {
  float: none;
  position: static;
  margin-top: 0;
  width: 100%;
  padding: 0 0 0 15px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ul-xs li>a {
  border: none;
}
.ul-xs li>a:after {
  content: "\e259";
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}
.ul-xs .open>a:after {
  content: "\e259";
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}

