@charset "utf-8";
/* CSS Document */
/*本样式大纲如下
1. HTML、BODY等全局样式
2. 导航栏样式
3. 轮播样式
4. 正文
   (1) 家用新品
   (2) 商用网络
   (3) 走进腾达
5. 页脚
6. 杂项
*/
/*1. body*/
body {
  font-family: 微软雅黑, "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, 宋体;
}
.modal-open {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow: auto;
}
.user-col-125 {
  width: 12.5%;
}
.user-click {  /*可以被点击的文字*/
  color: #ff0 !important;
}
/*2. 导航栏样式*/
.navbar {  /*整体*/
  margin-bottom: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 1;
}
.navbar-inverse {
  background-color: #252525;
}
.navbar-brand {  /*左侧logo*/
  margin-left: -15px;
  padding-top: 11px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-form {  /*搜索框*/
  float: right;
  border: none;
}
.navbar-form .form-control {
  width: 120px;
  height: 28px;
  padding-left: 25px;
  padding-right: 17px;
  color: #333;
  font-size: 12px;
  font-family: Arial;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #666 url(../images/search162.png) 8px center no-repeat;
  transition: background-color 0.1s ease-out;
}
.navbar-form .form-control:focus {
  background-color: #fff;
}
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav>li>a {  /*导航列表*/
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #cecece;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: #cecece;
}
.navbar-collapse .navbar-nav li>a:hover {
  color: #fff;
}
.navbar-toggle {  /*点击显示（导航列表）按钮*/
  margin-right: -15px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-right: 9px;
  border: none;
  background-color: transparent !important;
}
.navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar .navbar-toggle .icon-bar {
  width: 21px;
  height: 3px;
  border-radius: 0;
  background-color: #fd4f00;
}
.navbar-toggle.collapsed .icon-bar {
  background-color: #fff;
}
.navbar-xs {  /*下拉菜单 xs显*/
  position: absolute;
  width: 100%;
  background-color: #eee;
  transition: none;
}
.navbar-xs:after {
  content: "";
  position: absolute;
  top: -6px;
  right: 16px;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-right: 7.5px solid transparent;
}
.navbar-xs li>a {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #d0d0d0;
}
.navbar-xs li>a:after {
  content: "+";
  position: absolute;
  right: 22px;
  width: 16px;
  color: #bbb;
  font-size: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-xs>.open>a:after {
  content: "―";
  top: 9px;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: #d6d6d6;
}
.nav .open a,
.nav .open a:focus,
.nav .open a:hover {
  color: #333;
  background-color: transparent;
}
.ul-xs {  /*二级导航下拉列表*/
  float: none;
  position: static;
  margin-top: 0;
  width: 100%;
  padding: 0 0 0 15px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ul-xs li>a {
  border: none;
}
.ul-xs>li>a:after {
  content: "\e259";
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}
.ul-xs>.open>a:after {
  content: "\e258";
  top: 0;
  font-size: 12px;
  font-family: "Glyphicons Halflings";
  font-weight: 100;
}
.ul-xs--1 {  /*三级导航下拉列表*/
  margin-right: 15px;
  width: auto;
  padding-left: 0;
  background-color: #898989;
}
.ul-xs--1>li>a {
  padding-left: 30px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.ul-xs--1>li>a:after {
  content: "";
}
.ul-xs li>a,
.nav li>a:focus,
.nav li>a:hover {
  color: #333;
  background-color: transparent;
}
.nav-hovershow {  /*下拉菜单*/
  position: absolute;
  left: 0;
  right: 0;
}
.hovershow {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
  display: none;
  padding-top: 5px;
  padding-bottom: 16px;
  background-color: #565656;
  background-color: rgba(38,38,38,0.8);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cb383838,endColorstr=#cb383838);    ie8*/
}
.nav-hovershow .thumbnail {
  margin: 0;
  padding: 25px 0 15px;
  text-align: center;
  line-height: 30px;
  color: #aaa;
  border: none;
  background-color: transparent;
} 
.nav-hovershow .thumbnail:focus {
  color: #aaa;
  text-decoration: none;
}
.nav-hovershow .thumbnail:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
  transition: color 0.1s;
}
.nav-hovershow .thumbnail img {
  transition: transform 0.5s;
}
.nav-hovershow .thumbnail:hover img {
  transform: translateY(-2px);
}
#hovershow-2 {  /*下拉菜单 md显 鼠标在“官方商城”上时显示的内容*/
  padding-top: 19.2px;
  padding-bottom: 16px;
  background-color: #fff;
  filter: none;
}
#hovershow-2 .row-m0 {
  margin: 0;
}
#hovershow-2 .thumbnail {
  padding: 5px 4px 30px;
  font-size: 16px;
  line-height: inherit;
  color: #000;
}
#hovershow-2 .thumbnail:focus {
  color: #000;
  text-decoration: none;
}
#hovershow-2 .thumbnail:hover {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
#hovershow-2 .thumbnail img {
  width: 70%;
  height: auto;
  transition: transform 0.5s;
}
#hovershow-2 .thumbnail:hover img {
  transform: translateY(2px);
}

/*3. 轮播样式*/
.carousel-inner>.item>img {
  width: 100%;
  min-height: 275px;
}
.carousel-indicators {
  margin-bottom: 21px;
  line-height: 0;
}
.carousel-indicators li {
  margin: 2px 5px;
  width: 8px;
  height: 8px;
  border: none;
  background-color: rgba(76, 76, 76, 0.5);
}
.carousel-indicators .active {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: 2px solid #808080;
  background-color: transparent;
}
.carousel .carousel-control {
  display: none;
  top: 50%;
  bottom: auto;
  width: auto;
  background-image: none;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.carousel .carousel-control:hover {
  filter: alpha(opacity=56);
}
.carousel-control.left {
  left: 23px;
}
.carousel-control.right {
  right: 23px;
}
.carousel-control span {
  color: #fff;
  font-size: 40px;
  line-height: 0.9;
  text-shadow: none;
  transition: color 0.3s;
}
.carousel-control span:hover {
  color: rgba(255, 255, 255, 0.75);
}
.carousel-inner .link {  /*md下为轮播图片中的链接按钮*/
  position: absolute;    /*xs下为轮播图片提供整张图片的超链接*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.carousel-inner .link-a1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*filter: alpha(opacity=0);
  opacity: 0;*/
  text-indent: -999px;
  background: url(../images/1x1.png) repeat 0 0\0;
  /*background-image: none\9\0;*/
}

/*4. 正文*/
.maincontent {
  padding-top: 32px;
  padding-bottom: 32px;
}
.maincontent h4 {
  margin: 0;
  color: #000;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  background-image: url(../images/lineb.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.maincontent .thumbnail {
  margin-bottom: 0;
  padding: 16px 0 4px;
  text-align: center;
  border: none;
}
.maincontent h5 {
  font-size: 16px;
  font-weight: bold;
}
.maincontent .thumbnail p {
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  font-size: 16px;
  line-height: 1;
}
.maincontent a {
  color: #000;
  cursor: pointer;
  transition: none;
}
.maincontent a:hover,
.maincontent a:focus {
  color: #fd4f00;
  text-decoration: none;
}
/**家用新品**/
.maincontent--0 img {
  width: 80%;
  transition: transform, 0.6s;
}
.maincontent--0 img:hover {
  transform: scale(0.98, 0.98);
}
/**商用网络**/
.maincontent--1 .row--1 {
  padding-top: 19.2px;
}
.maincontent--1 img {
  width: 100%;
}
.maincontent--1 .thumbnail {
  padding-top: 0;
  padding-bottom: 0;
}
.maincontent--1 h5,
.maincontent--1 .thumbnail p {
  margin: 0;
  padding-top: 0;
  padding-left: 15px;
  line-height: 30px;
  text-align: left;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.maincontent--1 h5 {
  padding-top: 16px;
  padding-bottom: 5px;
}
.maincontent--1 p {
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
/**走进腾达**/
.maincontent--2 .row--1 {
  padding-top: 19.2px;
}
.maincontent--2 img {
  width: 100%;
}
.maincontent--2 .thumbnail {
  padding-top: 0;
  padding-bottom: 0;
}
.maincontent--2 .thumbnail p {
  margin-top: 0;
  padding-top: 16px;
  line-height: 25px;
  text-align: left;
}
/**服务支持**/
.maincontent--3 .row--1 {
  padding-top: 30px;
}
.maincontent--3 .thumbnail {
  padding-top: 25px;
  padding-bottom: 29px;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}
.maincontent--3 .thumbnail:hover {
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);
  transform: translateY(-2px);
}
.maincontent--3 .thumbnail h5 {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
}
.maincontent--3 .thumbnail p {
  margin-top: 13px;
  padding-top: 0;
  font-size: 16px;
  color: #666;
}
.maincontent--3 .thumbnail img {
  width: auto\9;
}
/*5. 页脚*/
.footer {
  padding-top: 21px;
  padding-bottom: 20px;
  border-top: 2px solid #f60;
  background-color: #3f3b39;
}
.footer p {
  margin-bottom: 0;
  color: #eee;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.footer a {
  color: #eee;
}
.footer a:hover {
  color: #fd4f00;
  text-decoration: none;
}
.footer span {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}
/*6. 杂项*/
/**返回顶部**/
#top {
  position: fixed;
  right: 10px;
  bottom: 100px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/top.png);
  overflow: hidden;
  cursor: pointer;
}
#top p {
  display: none;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background-color: #ffa200;
}
#top:hover p {
  display: block;
}
.top-p0 {
  padding-top: 9px;
}
.top-p1 {
  padding-bottom: 12px;
}
/**微信、QQ弹出框**/
.modal {
  height: 100%;
}
.modal-open .modal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.modal-dialog {
  top: 50%;
  margin: -300px auto;
  margin: -300px auto\9 !important;
  width: 500px;
}
.modal-content {
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-header {
  padding: 0 0 0 20px;
  background-color: #f5f5f5;
  border: none;
}
.modal-header h4 {
  font-size: 16px;
  line-height: 40px;
  color: #424242;
}
.modal-header .close {
  position: relative;
  margin-top: 5px;
  margin-right: 14px;
  width: 30px;
  height: 30px;
  font-size: 51px;
  line-height: 1;
  font-weight: 100;
  color: #aaa;
  text-shadow: none;
  background-color: #fff;
}
.modal-header .close span {
  position: absolute;
  top: -15px;
  left: -4px;
}
.modal-header .close span:focus {
  outline: none;
}
.modal-body {
  padding: 20px 0;
  text-align: center;
}
.modal-body p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}
.modal-body img {
  padding-top: 10px;
  width: 250px;
}
/*------------ONLY EXSMALL-----------*/
@media (max-width: 767px) {
  /*2. 导航栏样式*/
  .navbar-form .form-group {
    margin-bottom: 0;
  }
  /*3. 轮播样式*/
  .carousel-inner>.item>img {
    min-height: 275px;
  }
}


/*------------SMALL----------------*/

@media (min-width: 768px) {
  /*2. 导航栏样式*/
  .navbar {  /*整体*/
    border-radius: 0;
  }
  .navbar-form {  /*搜索框*/
    margin-right: -30px;
    margin-top: 10px;
  }
  .navbar-form .form-control {
    padding-right: 11px;
  }
  .navbar-nav>li>a {  /*导航列表*/
    padding-left: 10px;
    padding-right: 10px;
  }
  .collapse.navbar-right {
    margin-right: 20px;
  }
  /*3. 轮播样式*/
  .carousel-inner>.item>img {
    margin-left: -495px;
    box-sizing: content-box;
    width: 990px;
    height: 391.875px;
    max-width: none;
    padding-left: 50%;
  }
  .carousel-indicators {
    margin-bottom: 21px;
  }
  .carousel-control.left {
    left: 53px;
  }
  .carousel-control.right {
    right: 53px;
  }
  .carousel-inner .link {  /*sm下为轮播图片中的链接按钮*/
    top: 67%;              /*xs下为轮播图片提供整张图片的超链接*/
    right: auto;
    bottom: auto;
    left: 20%;
  }
  .carousel-inner .item04+.link {
    top: 64%;
    left: 22%;
  }
  .carousel-inner .item+.link {
    top: 64%;
    left: 20.5%;
  }
  .carousel-inner a {
    margin-right: 8px;
    display: inline-block;
    width: 86px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  .carousel-inner .link-a1 {
    position: static;
    line-height: 26px;
    color: #fd4f00;
    text-indent: 0;
    border: 2px solid #fd4f00;
    /*filter: none;
    opacity: 1;*/
  }
  .carousel-inner .link-a2 {
    color: #fff;
    background-color: #fd4f00;
  }
  .carousel-inner .order-0+.link {  /*第一张轮播图片*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .carousel-inner .order-0+.link .link-a1 {
    position: absolute;
    margin-right: 0;
    width: auto;
    height: auto;
    border: none;
  }
  /*4. 正文样式*/
  .maincontent h4 {
    font-size: 22px;
  }
  .maincontent .row.hidden-xs {
    margin: 0;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
  }
  .maincontent .thumbnail img {
    width: auto;
    max-width: 100%;
  }
  /**家用新品**/
  .maincontent--0 .thumbnail p {
    margin-top: 9px;
    border-top: 1px solid #e7e8e9;
  }
  /**商用网络**/
  .maincontent--1 {
    padding-bottom: 48px;
    background-color: #f2f2f2;
  }
  .maincontent--1 .row--1 {
    padding-top: 18.5px;
  }
  /**走进腾达**/
  .maincontent--2 {
    padding-bottom: 48px;
  }
  /**服务支持**/
  .maincontent--3 {
    padding-bottom: 48px;
    background-color: #f2f2f2;
  }
  .maincontent--3 .row--1 {
    padding-top: 30px;
  }
  /*页脚*/
  .footer {
    text-align: center;
  }
  .footer p {
    display: inline-block;
    font-size: 12.8px;
  }
}



/*------------ONLY SMALL-----------*/
@media (min-width: 768px) and (max-width: 991px) {
  /*2. 导航栏样式*/
  .navbar .hidden-sm {  /*在此宽度内不显示的导航条选项*/
    display: none !important;
  }
  /*4. 正文样式*/
  /**商用网络**/
  .maincontent--1 .thumbnail h5 {
    display: none;
  }
  .maincontent--1 .thumbnail p {
    height: 48px;
    line-height: 25px;
  }
  /**走进腾达**/
  .maincontent--2 .thumbnail h5 {
    display: none;
  }
  .maincontent--2 .thumbnail p {
    padding-top: 0;
    height: 48px;
    line-height: 25px;
    overflow: hidden;
  }
}

/*------------MIDDLE-------------*/

@media (min-width: 992px) {
  /*2. 导航栏样式*/
  .navbar-form+.navbar-collapse {  /*导航列表*/
    margin-right: 5px;
  }
  .navbar-nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-toggle+.navbar-collapse {  /*导航列表-全球列表*/
    margin-right: -35px;
  }
  .navbar-form .form-control {  /*搜索框*/
    margin-right: 15px;
    width: 130px;
    padding-right: 20px;
  }
  .nav-hovershow .thumbnail {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
    padding-top: 25px;
  }
  .hovershow {  /*下拉菜单 md显 鼠标在“家用产品”上时显示的内容*/
    padding-top: 0;
    padding-bottom: 0;
  }
  /*3. 轮播样式*/
  .carousel-inner>.item>img {
    margin-left: -600px;
    width: 1200px;
    height: 475px;
  }
  .carousel-inner .link {
    right: auto;
    bottom: auto;
    left: 20%;
  }
  .carousel-inner a {  /*sm下为轮播图片中的链接按钮*/
    width: 92px;
    height: 31px;
    line-height: 31px;
  }
  .carousel-inner .link-a1 {
    line-height: 27px;
  }
  /*4. 正文样式*/
  .maincontent {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  /**家用新品**/
  .maincontent--0 {
    padding-bottom: 64px;
  }
  /**商用网络**/
  .maincontent--1 .row--1 {
    padding-top: 19.2px;
  }
  .maincontent--1 p {
    padding-right: 15px;
  }
  /*5. 页脚*/
  .footer .list {
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
  }
  .footer dl {
    margin-bottom: 0;
    font-size: 16px;
    color: #eee;
    text-align: left;
  }
  .footer dt {
    line-height: 48px;
    font-weight: normal;
    cursor: pointer;
  }
  .footer dd a {
    font-size: 0.8em;
    line-height: 24px;
    color: #ccc;
    cursor: pointer;
  }
}

/*------------LARGE-------------*/

@media (min-width: 1200px) {
  /*2. 导航栏样式*/
  .navbar-nav>li>a {  /*导航列表*/
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar-toggle+.navbar-collapse {  /*导航列表-全球列表*/
    margin-right: -45px;
  }
  .navbar-form .form-control {  /*搜索框*/
    margin-left: -10px;
    margin-right: 5px;
  }
  /*3. 轮播样式*/
  .carousel-inner>.item>img {
    margin-left: -700px;
    width: 1400px;
    height: 554.166px;
  }
  .carousel-inner a {  /*sm下为轮播图片中的链接按钮*/
    margin-right: 14px;
    width: 96px;
  }
  /*4. 正文样式*/
  .maincontent {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  /**家用新品**/
  .maincontent--0 {
    padding-top: 48px;
    padding-bottom: 80px;
  }
  .maincontent--0 .thumbnail p {
    margin-top: 8px;
  }
}

/*------------OTHERS奇葩-------------*/

@media (min-width: 1400px) {
  /*3. 导航栏样式*/
  .carousel-inner>.item>img {
    margin-left: -960px;
    width: 1920px;
    height: 760px;
  }
  .carousel-inner a {  /*sm下为轮播图片中的链接按钮*/
    margin-right: 22px;
    width: 98px;
    height: 37px;
    line-height: 37px;
  }
  .carousel-inner .link-a1 {
    line-height: 33px;
  }
}